---
---
@import 'bourbon';

// Footer styles

.footer {
  background-color: #1D1D1D !important;

  .footer-text {
    float: left;
    font-size: 12px;
    color: #c4c4c4;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: "Gotham-Rounded";
  }
}

#footer-walmart-logo {
  width: 40%;
  height: auto;
  margin-left: -15px;
}

.footer-sub-logo {
  width: 20%;
  height: auto;
}

#footer-nav {
  display: inline-block;
}

a.footer-text {
  color: #c4c4c4;
  font-family: "Gotham-Rounded";
  font-weight: bold;
  font-size: 20px;
}

.footer-sub-logo {

}

#doc-logos {
  width: 400px;
}

#electrode-footer {
  padding: 0 0 10px 10px;
}

#footer-nav-center {
  margin-top: 35px;
  margin-left: -60px;
}

#footer-nav-right {
  margin-top: 30px;
  background-color: #1d1d1d !important;
}

.social-logo {
  padding-right: 20px;
  padding-right: 20px;
}

.footer-sub-logo {
  height: 40px;
  width: auto;
}

.footer-text.bottom {
  margin-bottom: -5px;
}

.twitter-logo {
  background-color: #1686c0;
  border-radius: 0 0 0.5em 0.5em;
  height: 60px;
  width: 35px;
  margin-right: 20px;
  img {
    width: 1.3em;
    margin-top: 25px;
    margin-left: -5px;
  }
}

.github-logo {
  background-color: #3a3a3a;
  border-radius: 0 0 0.5em 0.5em;
  height:60px;
  width: 35px;
  img {
    width: 1.3em;
    margin-top: 25px;
    background-color: white;
    color: #3a3a3a;
    margin-left: -5px;
  }
}

div.footer-row {
  margin: 0 -40px 0 120px;
}

div.footer-docs {
  padding-top: 15px;

  .footer-doc-links {
    color: #c4c4c4;
    // font-weight: bold;
    font-size: 14px;
    font-family: "Gotham-Rounded";

    #doc-link-right: {
      margin-left: -10px;
    }
  }
}

#footer-twitter {
  margin-left: -50px;
}

div.footer-vertical-line {
  margin-top: -20px;
  height: 100px;
  width: 0px;
  position: relative;
  border-left: 1px solid #2c2c2c;
}

img.footer-sub-logo {
  filter: invert(1);
  margin-top: 5px;
}
