<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/electrode.css">
	</head>
	<body>

    <!-- footer -->
		<div class="container">
	    <div id="electrode-footer" class="navbar navbar-default navbar-fixed-bottom navbar-dark footer">
					<div class="row footer-row">
						<div class="footer-text col-xs-12 col-s-5 col-md-5 navbar">
							<div class="" id="footer-nav-left">
									<div>
										<a class="navbar-brand" href="http://walmartlabs.com"><img id="footer-walmart-logo" src="https://host-logos.firebaseapp.com/dotio/header_logo_@1x.png" /></a>
									</div>
									<div>
										<p class="footer-text">
											Open Sourced Under Apache, Built with HEART by @WalmartLabs.</div>
										</p>
									<div>
										<p class="footer-text bottom">
											Electrode is maintained by the core team with help of our contributors.
										</p>
									</div>
							</div>
						</div>

					<div id="footer-nav-center" class="navbar footer-text col-xs-12 col-s-7 col-md-7">
						<div class="row">
							<div class="col-md-1 social-nav-links"><a href="https://github.com/electrode-io"><img id="footer-core-logo" class="footer-sub-logo" src="https://host-logos.firebaseapp.com/dotio/core_tab_icon_@1x.png" /></a></div>
							<div class="col-md-1 social-nav-links"><a href="https://github.com/electrode-io"><img id="footer-icons-logo" class="footer-sub-logo" src="https://host-logos.firebaseapp.com/dotio/modules_tab_icon_@1x.png" /></a></div>
							<div class="col-md-1 social-nav-links"><a href="https://github.com/electrode-io"><img id="footer-tools-logo" class="footer-sub-logo" src="https://host-logos.firebaseapp.com/dotio/tools_tab_icon_@1x.png" /></a></div>
							<div class="col-md-1 footer-docs">
								<a class="footer-doc-links" href="{{ site.baseurl }}/docs/what_is_electrode.html"{% if page.sectionid == 'docs' or page.sectionid == 'tips' or page.sectionid == 'contributing' %} {% endif %}>DOCS</a>
							</div>
							<div class="col-md-1 footer-docs">
								<a id="doc-link-right" class="footer-doc-links" href="{{ site.baseurl }}/docs/what_is_electrode.html"{% if page.sectionid == 'docs' or page.sectionid == 'tips' or page.sectionid == 'contributing' %} {% endif %}>CONTRIBUTE</a>
							</div>
							<div class="col-md-offset-1 col-md-2">
								<div class="footer-vertical-line"></div>
							</div>
							<div id="footer-twitter" class="col-md-1 twitter-logo"><a href="https://github.com/electrode-io"><img class="footer-social-logo" src="https://host-logos.firebaseapp.com/dotio/twitter_@1x.png" /></a></div>
							<div class="col-md-1 github-logo"><a href="https://github.com/electrode-io"><img class="footer-social-logo" src="https://host-logos.firebaseapp.com/dotio/github_@1x.png" /></a></div>
						</div>
					</div>

				</div>
    	</div>
		</div>

	</body>
</html>
